/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--main-font), var(--alternate-font);
  font-size: var(--font-size);
  line-height:  var(--line-height);
  color: var(--text-color);
  background-color: var(--bg-modal-color);
}

*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body { overflow-x: hidden; }

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--link-color);
  transition: all .3s ease-out;

  &:hover { color: var(--link-hover-color); }
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* ********** Responsive Video ********** */
/* https://codepen.io/TechnoBishop/pen/LEVPJw */
video,
iframe {
  width: 100%;
  height: calc((100vw - 4rem) * (9/16));
  max-height: calc(800px * 9/16);
}

::selection {
  background-color: var(--main-color);
  color: var(--second-color);
}
